# Any secrets or local environment variables that you'd like to set in your
# environment can be placed in the .local-envrc file.
#
# Some useful variables include
#
# - TRACER_HOME: whever you want to create the config dir for dev testing
[[ -f "./.local-envrc" ]] && source "./.local-envrc"
# 
exports () {
    # The directory of this file
    local DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

    export CFG_RELEASE_CHANNEL=nightly
    export CFG_RELEASE=nightly
}
exports
